<div class="full-size-centered">
    <div>
        <h1 class="text-center text-large"><strong>Bienvenido {{ username }}</strong></h1>
        <br><br>
        <div class="justify-center">
            <a href="/create-match">
                <div class="menu-option">
                    <div>
                        <i class="fas fa-plus"></i>
                        <p><strong>Registrar Partido</strong></p>
                    </div>
                </div>
            </a>
            <a href="/matches">
                <div class="menu-option">
                    <div>
                        <i class="fas fa-eye"></i>
                        <p><strong>Ver Partidos</strong></p>
                    </div>
                </div>
            </a>          
        </div>
    </div>
</div>
